{% extends 'customers/base.html' %}
{% block title %}Account - {{ acc.cust_name }}{% endblock %}
{% load humanize %}
{% block back %}
<div class="display-4" style="text-align: left" title="goto Home">
    <a href="{% url 'customer' %}" style="text-decoration: none;color:black;"><span class="sym-back">«</span></a>
</div>
{% endblock %}
{% block main %}
<h2>Account Details </h2>
<div class="row mt-5 align-items-center">
    <div class="col">
        <div class="p-2 bd-highlight">Account No&nbsp;:&nbsp;<span class="display-6">{{acc.acc_number}}</span></div>
    </div>
    <div class="col">
        <div class="p-2 me-auto bd-highlight">Customer Id&nbsp;:&nbsp;<span class="display-6">{{acc.email}}</span>
        </div>
    </div>
</div>
<div class="row align-items-center">
    <div class="col">
        <div class="p-2 bd-highlight">Account Holder&nbsp;:&nbsp;<span class="display-6">{{ acc.cust_name }}</span>
        </div>
    </div>
    <div class="col">
        <div class="p-2 me-auto bd-highlight">IFSC code&nbsp;:&nbsp;<span class="display-6">{{acc.ifsc_code}}</span>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-start">
        <div class="col-md-9 ms-auto mt-4">
            <div class="p-2 ">Balance&nbsp;:&nbsp;<span class="display-6">&#8377;&nbsp;{{ acc.balance|intcomma}}</span>
            </div>
        </div>
    </div>
</div>


{% endblock %}